@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* --black: rgb(32, 32, 32); */
  --black: rgb(7, 7, 7);
  --white: #fff;
  --red: #eb002f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black);
  background-image: url("images/herobg2.jpg");
}

/* header styling */

header {
  width: 100%;
  top: 0;
  position: sticky;
  background-color: var(--black);
  opacity: 90%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

.logo {
  margin-left: 20%;
}

.logo a {
  text-decoration: none;
  color: var(--white);
  font-size: 4em;
  font-weight: 600;
  text-shadow: var(--red) 2px 5px;
}

.logo a span {
  color: rgb(235, 0, 47);
  text-shadow: var(--white) 2px 5px;
}

.links {
  list-style: none;
  max-width: 90%;
  margin-right: 25%;
}

.links li {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.6em;
}

.links li a {
  text-decoration: none;
  color: rgb(235, 0, 47);
  padding: 0.3em;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  transition: all 0.3s ease;
}

.links li a:hover {
  text-decoration: none;
  color: var(--black);
  background-color: rgb(235, 0, 47);
}

/* hero styling */

.hero {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-family: "Ubuntu", sans-serif;
  color: var(--white);
}

.hero-img {
  width: 50%;
  padding: 2% 5% 2% 4%;
}

.hero-img img {
  width: 100%;
}

.hero-text {
  width: 50%;
  margin: auto;
  padding-right: 10%;
}

.hero-text .text-1 {
  font-size: 1.7em;
}

.hero-text .text-2 {
  font-size: 65px;
  font-weight: 600;
  margin-left: -10px;
}

.hero-text .text-3 {
  font-size: 40px;
}

.hero-text .text-3 span {
  color: rgb(235, 0, 47);
  font-size: 40px;
  font-weight: 500;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.projects {
  width: 30%;
}

.skillset {
  width: 65%;
  margin: auto;
}

.skillset img {
  width: 120px;
}

.contact .max-width {
  display: flex;
  justify-content: center;
}

/* project gallery styling */

/* contact styling */

/* .contact .max-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
}

.contact .contact-title {
  display: block;
  position: relative;
  font-size: 40px;
  color: #fff;
  margin-bottom: 80px;
}

.contact .contact-title::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contact-content .row-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-content .row-1 .column-1 {
  width: 300px;
}

.contact-content .row-1 .column-2 {
  width: 300px;
}

.contact-content .row-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-content .row-2 input {
  display: flex;
  width: 100%;
}

.contact-content .row-3 {
  width: 100%;
}

.contact-content .row-3 .text-area {
  width: 100%;
} */

.placeholder {
  height: 1000px;
  background-color: rgb(3, 12, 9);
}
